@font-face {
    font-family: 'chillOut';
    src: url(../fonts/ChilloutTYP-Regular.otf);
}
html {
    width: 100%;
    font-size: 100%;
}

body {
    margin: 0;
    width: 100%;
    overflow: scroll;
}
.wrapp {
    overflow: hidden;
}

header {
    margin: 0;
}


.header-illust {
    position: relative;
    margin: 0 auto 20% auto;
    width: 80%;
}
.home_nav {
    content: 'HOME';
    display: none;
    font-size: 2em;
    position: absolute;
    top: 72%;
    left: 10%;
}

#icon-panda {
    width: 75%;
}

nav ul {
    list-style: none;
}

.global_nav {
    display: block;
    position: absolute;
    z-index: 5;
    width: 10%;
    margin-left: 5%;
    margin-top: 5%;
}

.global_nav_sub {
    display: block;
    position: fixed;
    z-index: 5;
    width: 30%;
    margin-left: 5%;
    margin-top: 5%;
    top: 85%;
    left: 67%;
}

.main_nav, .main_nav_sub {
    margin: 0;
    padding: 0;
}

.main_nav li, .main_nav_sub li {
    line-height: 1.35;
    margin-bottom: 20px;
    position: relative;
    font-size: 1.5rem;
}

.main_nav > li > a, .main_nav_sub > li > a {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    flex-flow: column;
    width: 100%;
}

section {
    position: relative;
    display: block;
}

.top_main {
    background: #F2EDE4;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.top_main > .inner_main {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* character-contents */
.characterContent {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
}

.aranu {
    background-image: url(https://takahashi-pao.github.io/oretachi-omaetachi/img/aranu.PNG);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
}

#aranu1 {
    opacity: 0;
    animation: aranu1;
}

@keyframes aranu1 {
    0% {
        display: none;
    }

    3% {
        display: block;
    }

    40% {
        opacity: 1;
        display: block;
    }


    75% {
        opacity: 1;
        display: block;
    }
    93% {
        opacity: 0;
        display: block;
    }

    95% {
        display: none;
    }
    100% {

    }
}

#aranu2 {
    opacity: 0;
    animation: aranu2;
}

@keyframes aranu2 {
    0% {
        display: none;
        transform: rotate(0deg);
    }

    3% {
        display: block;
    }

    40% {
        opacity: 1;
        display: block;
        transform: rotate(20deg);
    }


    75% {
        opacity: 1;
        display: block;
        transform: rotate(-30deg);
    }
    93% {
        opacity: 0;
        display: block;
    }

    95%, 100%  {
        display: none;
    }
}

#aranu3 {
    opacity: 0;
    animation: aranu1;
}

@keyframes aranu1 {
    0% {
        display: none;
    }

    3% {
        display: block;
    }

    60% {
        opacity: 1;
        display: block;
    }


    85% {
        opacity: 1;
        display: block;
    }

    85% {
        transform: rotateY(0deg);
    }

    90% {
        transform: rotateY(90deg);
    }
    93% {
        opacity: 0;
        display: block;

    }

    95% {
        display: none;
    }
    100% {
        transform: rotateY(90deg);
    }
}


/* @keyframes munimuni {
    0% {
        display: none;
    }

    3% {
        display: block;
        opacity: 1;
    }

    10% {
        border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
    }

    20% {
        border-radius: 80% 50% 50% 70%/50% 50% 70% 60%;
    }

    30% {
        border-radius: 70% 50% 50% 70%/50% 50% 70% 60%;
    }

    40% {
        border-radius: 90% 50% 50% 70%/50% 50% 70% 60%;
    }

    50% {
        border-radius: 30% 50% 50% 70%/50% 50% 70% 60%;
    }

    60% {
        border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
    }

    70% {
        border-radius: 80% 50% 50% 70%/50% 50% 70% 60%;
    }

    80% {
        border-radius: 90% 50% 50% 70%/50% 50% 70% 60%;
    }

    90% {
        border-radius: 60% 50% 50% 70%/50% 50% 70% 60%;
    }

    100% {
        border-radius: 30% 50% 50% 70%/50% 50% 70% 60%;
    }

    70% {
        opacity: 1;
    }

    95% {
        display: none;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} */



#walking-panchan {
    background-image: url(https://takahashi-pao.github.io/oretachi-omaetachi/img/walking-panchan.GIF);
    animation: walking 8s linear;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

/* #test {
    background-image: url(../img/walking-panchan.GIF);
    width: 20%;
    height: auto;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
} */



@keyframes walking {
    0% {
        /* transform: translateX(0%); */
        left: 100%;
        display: none;
    }

    3% {
        display: block;
    }

    95% {
        display: none;
    }
    100% {
        left: -35%;
        /* transform: translateX(-30%); */
    }
}

/* #walking-panchan-reverse {
    background-image: url(../source/img/walking-panchan.GIF);
    transform: rotateY(180deg);
    animation: walking-reverse 8s linear;
}

@keyframes walking-reverse {
    0% {
        transform: translateX(-30vw);
    }

    100% {
        transform: translateX(100vw);
    }
} */

.top_oretachi {
    background: #D9D1C7;
}
.top_oretachi > .inner_oretachi {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}
.oretachi-doya {
    width: 100%;
    height: 100%;
    position: relative;
}
.oretachi-doya > .top_oretachi-panchan, .oretachi-doya > .top_oretachi-aranu {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
}
.top_oretachi-panchan {
    background-image: url(https://takahashi-pao.github.io/oretachi-omaetachi/img/Panchan.png);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;    
    animation-fill-mode: forwards;
    opacity: 0;
}


@keyframes oretachi-side-fadeIn-panchan {
    0% {
        opacity: 0;
    }

    80%, 100% {
        opacity: 1;
    }
}

@keyframes oretachi-side-fadeOut-panchan {
    0% {
        opacity: 1;
    }

    60%, 100% {
        opacity:0;
    }
}

.top_oretachi-aranu {
    background-image: url(https://takahashi-pao.github.io/oretachi-omaetachi/img/Ara\ nu.png);
    position: absolute;
    width: 100%;
    height: 100%;
    translate: rotateX(20deg);
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes oretachi-side-fadeIn-aranu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes oretachi-side-fadeOut-aranu {
    0% {
        opacity: 1;
    }

    40%, 100% {
        opacity:0;
    }
}

.oretachi_textContent {
    position: relative;
    top: 10%;
}
.oretachi_title {
    /* font-family: 'chillOut'; */
    position: relative;
    text-align: center;
    font-size: 5em;
}
.oretachi_text {
    text-align: center;
}
.oretachi_more {
    text-align: center;    
}
.oretachi_more > a {
    text-decoration: none;
}


.top_intro {
    background: #baad9e;
}
.top_intro > .inner_intro {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}

footer {
    background: #baad9e;
    width: 100%;
    height: 5vh;
    position: relative;
}
.footer_likeCopyrights {
    text-align: center;
    top: 30%;
    position: relative;
    font-size: 2em;
}
/* 
body {
    width: 100%;
    height: 1000px;
  }
  
  header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: green;
  }
  
  #box {
    padding-top: 50px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
  } */
@media screen and (min-width:480px) {

}
/* @media screen and (min-width:768px) and ( max-width:1024px) {
    
} */
@media screen and (min-width:768px) {
    .top_oretachi {
        margin: 0 auto;
        width: 100%;
        height: 40vh;
    }
    .top_oretachi > .inner_oretachi {
        width: 60%;
        height: 100%;
    }
    .oretachi-doya {
        top: 10%;
        height: 40%;
        width: 100%;
        border-radius: 64% 100% 74% 93% / 74% 53% 84% 55%;
        background-color: #90C1BF;
        /* background-color: #ABD7D6; */
    }
    .top_oretachi-panchan {
        width: 120%;
        height: 100%;
        left: -25%;
    }
    .top_oretachi-aranu {
        width: 120%;
        height: 100%;
        left: 12%;
        rotate: 30deg;
    }

    .top_intro {
        margin: 0 auto;
        width: 100%;
        height: 40vh;
    }
    .top_intro > .inner_intro {
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }


}

@media (min-height: 2200px){

}

.member_aranu {
    background: #F2EDE4;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.member_aranu_frame {
    height: 100vh;
}
.member_main_box {
    position: relative;
    height: 90%;
    margin: 0 20%;
}
.member_main_aranu {
    height: 50%;
}
.member_visual_aranu {
    background-image: url(https://takahashi-pao.github.io/oretachi-omaetachi/img/Ara\ nu.png);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #EC6D65;
    position: absolute;
    width: 120%;
    height: 50%;
    left: -25%;
    top: 15%;
    border-radius: 69% 91% 62% 83% / 65% 65% 75% 64%;
    rotate: 5deg;
    margin: 0 auto;
}
.member_aranu_textContent {
    top: 55%;
    left: 40%;
    position: absolute;
}
.member_aranu_title {
    position: relative;
    top: 15%;
}
.member_aranu_title > h1 {
    text-align: center;
    font-size: 12em;
    margin: 0;
}
.member_aranu_text {
    position: relative;

}
.member_aranu_text > .first {
    position: relative;
}
.member_aranu_text > .second {
    position: relative;
    top: 1%;
}
.member_aranu_text > .third {
    position: relative;
    top: 2%;
}


.member_panchan {
    background: #f1e4cc;
    overflow: hidden;
    width: 100%;
    height: 95vh;
}
.member_panchan_frame {
    height: 95vh;
}
.member_panchan_box {
    position: relative;
    height: 90%;
    margin: 0 20%;
}
.member_main_panchan {
    height: 50%;
}
.member_visual_panchan {
    background-image: url(https://takahashi-pao.github.io/oretachi-omaetachi/img/Panchan.png);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #00AC97;
    position: absolute;
    width: 140%;
    height: 50%;
    left: 25%;
    top: 15%;
    border-radius: 69% 91% 62% 83% / 65% 65% 75% 64%;
    margin: 0 auto;
}
.member_panchan_textContent {
    top: 58%;
    left: 2%;
    position: absolute;
}
.member_panchan_title {
    position: relative;
    top: 95%;
    left: 10%;    
}
.member_panchan_title > h1 {
    font-size: 8em;
    position: relative;
    margin: 0;
}
.member_panchan_text {
    position: relative;
    top: 62%;
    left: 13%;
}


.contact_box {
    height: 95vh;
    background-color: #F2EDE4;
}

.gallary {
    height: 95vh;
    background-color: #F2EDE4;
}
